.genericContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 227px;
    max-width: 547.8px;
    background-color: #232323;
}
@media (max-width: 768px) {
    .genericContainer {
      max-width: 90%; 
      max-height: 180px; 
    }
  }
  
  @media (max-width: 480px) {
    .genericContainer {
      max-width: 100%;
      max-height: 160px;
      padding: 10px; 
    }
  }