.quote {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;

  box-sizing: border-box;
  margin-top: 10px;
}

.quote img {
  margin: 0;
  padding: 0;
  width: 90%;
  object-fit: cover;
}
