.mainNavigation {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 3px solid black;
  border-bottom: 3px solid #f2f2f2;
  box-shadow: 0 4px 4px rgba(165, 161, 161, 0.1);
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 500;
}

.navigationFirstRow,
.navigationSecondRow {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigationFirstRow {
  background-color: #f2f2f2;
}

.navigationSecondRow {
  background-color: #232323;
}

.navigationFirstRow ul,
.navigationSecondRow ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 30px;
}

.navigationLink,
.navigationLinkSecondRow {
  list-style-type: none;
  width: auto;
  margin: 0 10px;
  padding: 0;
  text-align: center;
}

.navigationLink a,
.navigationLinkSecondRow a {
  text-decoration: none;
  font-size: 1rem;
  color: #232323;
}

.navigationLink a:hover,
.navigationLinkSecondRow a:hover {
  color: #ccdb30;
  font-style: italic;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navigationFirstRow ul,
  .navigationSecondRow ul {
    flex-direction: column;
    padding: 10px 0;
    height: auto;
  }

  .navigationLink,
  .navigationLinkSecondRow {
    width: 100%;
    margin: 5px 0;
  }

  .navigationLink a,
  .navigationLinkSecondRow a {
    font-size: 0.9rem; /* Slightly smaller font size for mobile */
  }
}

@media (max-width: 480px) {
  .mainNavigation {
    border-top: 2px solid black; /* Simplified border on small screens */
  }

  .navigationLink a,
  .navigationLinkSecondRow a {
    font-size: 0.8rem; /* Even smaller font size for very small screens */
  }
}
