.productWrapper{
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  display: flex;
  justify-content: center;
}


.productContainer {

  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 20px; 
  padding: 20px;
  max-width: 1400px;
  /* justify-content: space-around; */
  list-style: none; 
  margin: 0 auto;
  padding-bottom: 30px;
  /* border: 3px solid red; */
}








@media (max-width: 1700px) {
  .productContainer {
      grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1456px) {
  .productContainer {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  .productContainer {
      grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 620px) {
  .productContainer {
      grid-template-columns: repeat(1, 1fr); 
  }
}
