.productsContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

.productsContainer::before, .productsContainer::after {
    box-sizing: border-box;
}