/* Sidebar */
.sidebar {
  width: 320px;
  height: 100vh; /* Full height */
  background-color: #232323;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  position: sticky; /* Stay in place while scrolling */
  top: 0; /* Offset for sticky positioning */
  transition: transform 0.3s ease-in-out;
}

.firstSection{
  margin-top: 20px;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed; /* Slide in on small screens */
    transform: translateX(-100%);
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
  }

  .sidebar.visible {
    transform: translateX(0);
  }
}

/* Hamburger Icon */
.hamburger {
  position:absolute;
  top: 15px;
  left: 5px;
  background: none;
  border: none;
  font-size: 2rem;
  color: darkgray;
  cursor: pointer;
  display: none;
  z-index: 300;
}

@media (max-width: 768px) {
  .hamburger {
    display: block; /* Visible on smaller screens */
  }
}

/* Overlay for small screens */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

/* Sidebar sections */
.firstSection,
.secondSection {
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
